# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List popular languages for Data Science
- Identify commonly used libraries in Data Science
- Demonstrate examples of arithmetic expressions in Python
- Convert minutes into hours using a Python expression
- Create a table of popular Data Science tools

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Scala

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. NumPy
3. Matplotlib
4. TensorFlow

| Data Science Tools |
| ------------------ |
| Jupyter Notebook   |
| RStudio            |
| Github             |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This is a simple arithmetic expression to multiply then add integers
(3 * 4) + 5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author

Bala Naga Venkata Siva Sai Somisetty